.banner {
  width: 100%;
  height: 50vh;
  background: url("https://source.unsplash.com/category/music/1600x900");
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-gradient {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.banner form {
  color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.banner form h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 3vh;
  letter-spacing: 1px;
}

.banner form h3 {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 3vh;
}

.banner form span {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

.banner-search {
  width: 800px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
}
.banner-search input {
  width: 100%;
  height: 60px;
  padding: 0px 15px 0px 60px;
  font-size: 15px;
  border-radius: 7px;
  border: none;
}
.banner-search button {
  position: absolute;
  cursor: pointer;
  left: 15px;
  border: none;
  background: none;
}
.banner-search i {
  color: gray;
  font-size: 20px;
}

@media (max-width: 830px) {
  .banner-search {
    width: 600px;
  }
}
@media (max-width: 600px) {
  .banner-search {
    width: 400px;
  }
}
